// Composants divers

.messages {
    @include padding(1, 1);
}
%message_style {
    border: 1px solid $septenary-color;
    color: $secondary-color;
    @include padding(1, 1);
}
.success {
    @extend %message_style;
    background-color: $quaternary-color;
}
.error {
    @extend %message_style;
    background-color: $quinary-color;
    &:hover {
        background-color: $quaternary-color;
        transition: background-color .4s;
    }
}
.warning {
    @extend %message_style;
    background-color: $senary-color;
}