//Variables

$primary-color: #6b717f;
$secondary-color: #fff;
$tertiary-color: #BF4080;
$quaternary-color:green;
$quinary-color:red;
$senary-color:orange;
$septenary-color:#8C8C8C;
$octonary-color:#000;
