main {
    padding: 0 1em;
}
article {
    display: flex;
    flex-wrap: wrap;
    section {
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $septenary-color solid;
        -webkit-box-shadow: 10px 10px 15px -4px $primary-color;
        -moz-box-shadow: 10px 10px 15px -4px $primary-color;
        box-shadow: 10px 10px 15px -4px $primary-color;
        padding: 16px;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        #selling-points {
            flex-grow: 2;
            flex-basis: 100%;
        }
    }
    code {
        background: $octonary-color;
        border: 1px solid $primary-color;
        color: $septenary-color;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
        .before, .after {
            width: 40%;
        } 
        .before {
            float: left;
        }
        .after {
            float: right;
        }
    }
}